<div class="toolbar" role="banner">
  <img width="160" src="assets/icons/11.png" routerLink="" />
  <div class="spacer"></div>
  <div routerLink="/result-search">
    <img width="40" src="assets/icons/13.png"/>
  </div>
</div>

<div class="row">
  <div class="column left">
    <div class="container">
      <div class="movieDescription">
        <h1>{{ movieDetailResult.original_title }}</h1>
        <span>{{ movieDetailResult.overview }}</span>
        <div class="rowPrincipal">
          <div class="rowSub">
            <img src="assets/icons/9.png" alt="" height="30px" />
            <span>{{ movieDetailResult.vote_average }}</span>
          </div>
          <div class="rowSub">
            <img src="assets/icons/12.png" alt="" height="30px" />
            <span style="text-transform: uppercase">{{
              movieDetailResult.original_language
            }}</span>
          </div>
          <div class="rowSub">
            <img src="assets/icons/10.png" alt="" height="28px" />
            <span>{{ movieDetailResult.release_date }}</span>
          </div>
          <div class="rowSub">
            <img src="assets/icons/7.png" alt="" height="30px" />
            <span>Ação, Romance, Aventura, Comédia</span>
          </div>
        </div>
        <!-- <img src="assets/icons/8.png" alt="" height="30px" /> -->
        <h1>Cast</h1>
        <div class="containerr">
          <div class="blocHorizontal">
            <ng-container *ngFor="let cast of getMovieCastResult" class="castt">
              <img
                *ngIf="cast.profile_path"
                src="https://image.tmdb.org/t/p/original/{{
                  cast.profile_path
                }}"
                alt=""
                class="artistImage"
              />
              <span>{{ cast.name }}</span>
            </ng-container>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="column right">
    <div class="container" *ngIf="movieDetailResult.poster_path">
      <img
        src="https://image.tmdb.org/t/p/original/{{
          movieDetailResult.poster_path
        }}"
        alt=""
        class="imageMovie"
      />
    </div>
  </div>
</div>
