<div class="toolbar" role="banner">
  <img width="160" src="assets/icons/11.png" />
  <div class="spacer"></div>
  <div>
    <app-search></app-search>
  </div>
</div>

<div class="row">
  <div class="column left">
    <div class="container">
      <div class="movieDescription">
        <h1>007 - Sem Tempo Para Morrer</h1>
        <span
        >In anticipation of the 25th chapter in the iconic James Bond Saga,
        based on the novels of British writer Ian Fleming, Sabbatical
        Entertainment presents \"For Our Eyes Only\" an enthralling
        documentary that recounts and relives all of 007's menacing missions
        throughout this legendary cinematic franchise, from 1962's premiere of
        \"Dr. No\", to the highly anticipated \"No Time To Die.\</span>
      <div class="rowPrincipal">
        <div class="row">
          <img src="assets/icons/9.png" alt="" height="30px" />
          <span>9,5</span>
        </div>
        <div class="row">
          <img src="assets/icons/12.png" alt="" height="30px" />
          <span>EN</span>
        </div>
        <div class="row">
          <img src="assets/icons/10.png" alt="" height="28px" />
          <span>2023</span>
        </div>
        <div class="row">
          <img src="assets/icons/7.png" alt="" height="30px" />
          <span>Ação, Romance, Aventura, Comédia, Terror</span>
        </div>
      </div>
      <div>
        <!-- <img src="assets/icons/8.png" alt="" height="30px" /> -->
        <h1>Cast</h1>
        <div>
          <img src="https://br.web.img3.acsta.net/pictures/19/10/05/16/20/4518067.jpg" alt="" class="artistImage">
          <img src="https://br.web.img3.acsta.net/pictures/19/10/05/16/20/4518067.jpg" alt="" class="artistImage">
          <img src="https://br.web.img3.acsta.net/pictures/19/10/05/16/20/4518067.jpg" alt="" class="artistImage">
          <img src="https://br.web.img3.acsta.net/pictures/19/10/05/16/20/4518067.jpg" alt="" class="artistImage">
          <img src="https://br.web.img3.acsta.net/pictures/19/10/05/16/20/4518067.jpg" alt="" class="artistImage">
          <img src="https://br.web.img3.acsta.net/pictures/19/10/05/16/20/4518067.jpg" alt="" class="artistImage">
          <img src="https://br.web.img3.acsta.net/pictures/19/10/05/16/20/4518067.jpg" alt="" class="artistImage">
          <img src="https://br.web.img3.acsta.net/pictures/19/10/05/16/20/4518067.jpg" alt="" class="artistImage">
          <img src="https://br.web.img3.acsta.net/pictures/19/10/05/16/20/4518067.jpg" alt="" class="artistImage">
          <img src="https://br.web.img3.acsta.net/pictures/19/10/05/16/20/4518067.jpg" alt="" class="artistImage">
          <img src="https://br.web.img3.acsta.net/pictures/19/10/05/16/20/4518067.jpg" alt="" class="artistImage">
          <img src="https://br.web.img3.acsta.net/pictures/19/10/05/16/20/4518067.jpg" alt="" class="artistImage">
          <img src="https://br.web.img3.acsta.net/pictures/19/10/05/16/20/4518067.jpg" alt="" class="artistImage">
        </div>
      </div>
      <div class="cast">
        <div class="artists">
        </div>
      </div>
      </div>
    </div>
  </div>
  <div class="column right">
    <div class="container">
      <img
        src="https://br.web.img3.acsta.net/pictures/19/10/05/16/20/4518067.jpg"
        alt=""
        class="imageMovie"
      />
    </div>
  </div>

</div>
