<div class="toolbar" role="banner">
  <img width="160" src="assets/icons/11.png"/>
  <div class="spacer"></div>
  <div routerLink="/result-search">
    <img width="40" src="assets/icons/13.png"/>
  </div>
</div>

<app-inicial-movie></app-inicial-movie>

<!-- <div class="content" role="main">
  <div class="card-container">
    <div class="card">
      <a routerLink="movie">
        <span>FILMES</span>
      </a>
    </div>
    <div class="card">
      <span>ATORES</span>
    </div>
  </div>
</div> -->

<app-movie></app-movie>
